.main {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex !important;
}
.space-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
  flex-wrap: wrap;
}

.sameHeight {
  height: 38rem;
}
.filterlist {
  position: absolute;
  z-index: 20;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
}

.filterItem {
  border: 1px solid rgba(0, 0, 0, 0.125);
  list-style: none;
  padding-right: 1rem;
  width: 200px;
}
.search {
  width: 100%;
}
.listHeight {
  max-height: 300px;
}

.none {
  display: none;
}
.width-auto {
  width: auto !important;
}
